*{
	background-color: rgb(215, 245, 250);
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.product {
	margin: 20px;
	text-align: center;
}

.product img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.buy-now {
	background-color: #1370ae;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.buy-now:hover {
	background-color:#113692;
}
.back{
	position: absolute;
	top: 0;
	right: 0;
	margin-top:13px;
	margin-right: 10px;
	border-radius: 10px;
	cursor: pointer;
  }
.logo{
	position: absolute;
	top: 0;
	margin-top: 20px;
}
.title{
	margin-top: 30px;
	margin-left: 30px;
}
.title h2{
     font-family: Georgia, 'Times New Roman', Times, serif;
}
.product img{
	border-radius: 10px;
}
.sell{
	position: absolute;
	top: 0;
	right: 0;
	margin-top:5px;
	margin-right: 5px;
	border-radius: 10px;
	cursor: pointer;
	
}
 .sell-button {
	margin-right:130px;
     position: fixed;
	 top: 6px;
     right: 10px;
     background-color:#157cc1;
     color:white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 20px;
	 transition: background-color 0.3s ease;
    }
.sell-button:hover {
 background-color:#365fc5;
}
.home{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	cursor: pointer;
	margin-right: 70px;
}
.product{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.buy-now{
	margin-top: 4px;
}

.info {
	background-color: #1370ae;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.info:hover {
	background-color:#113692;
}
a i {
	transition: transform 0.2s ease-in-out;
  }
  
  a:hover i {
	transform: translateY(-5px);
  }
  .cart-button {
	margin-right:230px;
     position: fixed;
	 top: 6px;
     right: 10px;
     background-color:#157cc1;
     color:white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 20px;
	 transition: background-color 0.3s ease;
    }
.cart-button:hover {
 background-color:#365fc5;
}
