body{
    
    font-size: 40px;
    background-color:#a1b6ca;
    color: #F8F9FA;
    display: flex;
}
.bgimg{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    opacity: 0.4;
}
.container{
    height: 95vh;
    width: 50%;
    border: #F8F9FA solid 1px;
    background-color: rgb(0, 0, 0,0.7);
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-self: center;
    align-self: center;
    backdrop-filter: blur(10px);
}
.time{
    font-size: 80px;
    font-weight: 200;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Edu NSW ACT Foundation', 'cursive';
    margin: auto;
    margin-top:15vh;
    margin-bottom: 2vh;
}
.btn{
    display: flex;
    flex-direction: column;
    align-self: center;
}
button{
    height: 10vh;
    width: 35vh;
    border-radius: 50px;
    background-color: transparent;
    border: #F8F9FA solid 1px;
    font-size: 20px;
    font-weight: bold;
    color: #F8F9FA;
    font-family: 'Archivo Narrow', sans-serif;
    transition: 0.5s;
    transition-property: all;
    text-transform: uppercase;
    margin: 3vh;
}
button:hover{
    background-color: #F8F9FA;
    border: #F8F9FA solid 1px;
    color: #b3a792;
}
