body{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 7vh;
    background-color: rgb(247, 236, 200);
    color: black;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
   
}
.container h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box{
    width: 500px;
  height: 300px;
  padding: 15px;
  background-color: rgb(66, 134, 143);
  box-shadow: 10px 10px ;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 10vh;
}
.btn{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
}
button{
    height: 8vh;
    width: 20vh;
    border-radius: 50px;
    background-color: black;
    border: rgb(199, 243, 185) solid 1px;
    color: rgb(137, 211, 221);
    margin:0 2vh;
    transition: 0.5s;
    transition-property: all;
    text-transform: uppercase;
    margin: 2vh;
}
button:hover{
    background-color: bisque;
    color: #000000;
    border: #000000 solid 1px;
}
input{
    height: 28px;
    width: 300px;
    display: grid;
    align-items: center;
    font-size: 20px;
    
       
}
.back{
    position:absolute;
    top:0;
    right:0;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
}
.home{
    position:absolute;
    top:0;
    right:0;
    margin-top: 10px;
    margin-right: 80px;
    cursor: pointer;
}

a i{
    transition:transform 0.2s ease-in-out;

}
a:hover i{
    transform:translateY(-5px);

}
