body{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 7vh;
    background-color: bisque;
    color: black;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.box{
    width: 550px;
  height: 400px;
  padding: 15px;
  background-color: rgb(66, 134, 143);
  box-shadow: 10px 10px ;
    
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 10vh;
}
.btn{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
}
button{
    height: 8vh;
    width: 40vh;
    border-radius: 50px;
    background-color: black;
    border: rgb(199, 243, 185) solid 1px;
    color: rgb(137, 211, 221);
    margin:0 2vh;
    transition: 0.5s;
    transition-property: all;
    text-transform: uppercase;
    margin: 2vh;
    justify-self: center;
    align-self: center;
}
button:hover{
    background-color: bisque;
    color: #000000;
    border: #000000 solid 1px;
}
input{
    height: 28px;
    width: 350px;
    display: grid;
    font-size: 20px;
    
       
}
input[type=tel] {
    width:42%;
}
.container ::placeholder{
    font-size: 20px;
    padding-left: 4px;
}
